<ds-themed-home-news></ds-themed-home-news>

<div class="bg-light mb-4 py-2">
  <div class="container py-4">
    <h4 class="py-2">Search the Repository</h4>
    <ds-themed-search-form [inPlaceSearch]="false"
                           [searchPlaceholder]="'home.search-form.placeholder' | translate">
    </ds-themed-search-form>
  </div>
</div>

<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
</div>

<div class="container">
  <ds-themed-top-level-community-list></ds-themed-top-level-community-list>
</div>

<div class="container-fluid p-3 bg-light" id="companyIcons">
  <div class="container">
    <h4>Company Icons</h4>
  </div>
</div>

<div class="container-fluid pb-4">
  <div class="container">
    <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>
  </div>
</div>


